<a href="https://colab.research.google.com/github/SainiManisha/dbms-tutorial/blob/master/Database_Tutorial_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect('example2_create.db')

In [ ]:
c = conn.cursor()

# Create table Stocks
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')
# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.

In [ ]:
c.execute("INSERT INTO stocks VALUES ('2006-01-07','BUY','kIA',100,30.14)")

In [ ]:
# to select rows from the created table
for row in c.execute('SELECT * FROM stocks ORDER BY price'):
        print (row)

('2006-01-07', 'BUY', 'kIA', 100.0, 30.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [ ]:
for row in c.execute('SELECT * FROM stocks'):
    print (row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-07', 'BUY', 'kIA', 100.0, 30.14)

In [ ]:
c.execute("INSERT INTO stocks VALUES ('2006-01-07','BUY','kIA',100,30.14)")
conn.commit()

In [ ]:
for row in c.execute('SELECT * FROM stocks'):
    print (row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-07', 'BUY', 'kIA', 100.0, 30.14)
('2006-01-07', 'BUY', 'kIA', 100.0, 30.14)