<a href="https://colab.research.google.com/github/SainiManisha/dbms-tutorial/blob/master/Database_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import time
import datetime
import random

conn = sqlite3.connect("New_database.db")

def create_table():
    c = conn.cursor()
    c.execute('CREATE TABLE IF NOT EXISTS New_table(unix REAL, datestamp TEXT, keyword TEXT, value REAL)')
    c.close()

def data_entry():
    c = conn.cursor()
    c.execute("INSERT INTO New_table VALUES (145123542, '2016-01-03', 'Python', 7)")
    conn.commit()
    c.close()


create_table()
data_entry()

In [7]:
import sqlite3
import time
import datetime
import random

conn = sqlite3.connect("New_database_try.db")

c = conn.cursor()
c.execute('CREATE TABLE IF NOT EXISTS New_table_try(unix REAL, datestamp TEXT, keyword TEXT, value REAL)')
c.execute("INSERT INTO New_table_try VALUES (145123542, '2016-01-03', 'Python', 7)")
conn.commit()