<a href="https://colab.research.google.com/github/SainiManisha/dbms-tutorial/blob/master/DBMS_Tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('exy.db')

In [3]:
c=conn.cursor()

In [4]:
c.execute('''CREATE TABLE STOCK
            (date text, trans text, qty real, price real)''')

In [12]:
c.execute("Insert into STOCK values ('2006-0-05','BUY','RHAT','35.10')")

In [13]:
c.execute("Insert into stock VALUES('2009-0-89','BUY','RI','34.8')")

In [16]:
for row in c.execute('Select * from stock'):
    print(row)

('2006-0-05', 'BUY', 'RHAT', 35.1)
('2009-0-89', 'BUY', 'RI', 34.8)

In [18]:
for row in c.execute('Select * from stock ORDER BY price'):
    print(row)

('2009-0-89', 'BUY', 'RI', 34.8)
('2006-0-05', 'BUY', 'RHAT', 35.1)

In [19]:
conn.commit()

In [21]:
c.execute("Insert into STOCK VALUES ('2090','TRY','BI','32.98')")

In [22]:
c.execute("Insert into STOCK VALUES ('26790','TRY','BITYU','32')")

In [23]:
for row in c.execute("Select * from STOCK"):
    print(row)

('2006-0-05', 'BUY', 'RHAT', 35.1)
('2009-0-89', 'BUY', 'RI', 34.8)
('2090', 'TRY', 'BI', 32.98)
('26790', 'TRY', 'BITYU', 32.0)

In [26]:
for row in c.execute("Select * from STOCK order by price"):
    print(row)

('26790', 'TRY', 'BITYU', 32.0)
('2090', 'TRY', 'BI', 32.98)
('2009-0-89', 'BUY', 'RI', 34.8)
('2006-0-05', 'BUY', 'RHAT', 35.1)