<a href="https://colab.research.google.com/github/SainiManisha/dbms-tutorial/blob/master/SQLITE_Commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('exy2.db')

In [3]:
conn.execute('''CREATE TABLE IF NOT EXISTS todo( 
                         id INTEGER PRIMARY KEY, 
                         task text not null
                         )''')

In [4]:
def insertdata(task):
    query="Insert into todo(task) Values(?);"
    conn.execute(query,(task,))
    conn.commit()

In [5]:
insertdata("Have break")

In [6]:
for row in conn.execute('Select * from todo'):
    print(row)

(1, 'Have break')

In [8]:
insertdata("Have break")

In [9]:
insertdata("Try ")

In [10]:
for row in conn.execute('Select * from todo'):
    print(row)

(1, 'Have break')
(2, 'Have break')
(3, 'Have break')
(4, 'Try ')

In [11]:
insertdata("Complete your homework ")

In [18]:
for row in conn.execute('Select * from todo'):
    print(row)

(2, 'Go ahead')
(3, 'Have break')
(4, 'Try ')
(5, 'Complete your homework ')

In [12]:
def deletebyid(taskid):
    query="delete from todo WHERE id=?;"
    conn.execute(query,(taskid,))
    conn.commit()

In [13]:
deletebyid(1)

In [14]:
for row in conn.execute('Select * from todo'):
    print(row)

(2, 'Have break')
(3, 'Have break')
(4, 'Try ')
(5, 'Complete your homework ')

In [15]:
def updatedata(taskid, newtask):
    query="UPDATE todo set task= ? WHERE id= ?;"
    conn.execute(query,(newtask, taskid,))
    conn.commit()

In [16]:
updatedata(2, "Go ahead")

In [17]:
for row in conn.execute('Select * from todo'):
    print(row)

(2, 'Go ahead')
(3, 'Have break')
(4, 'Try ')
(5, 'Complete your homework ')